html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
